body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 10px;
}
footer {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 10px;
}
main {
    background-color: aliceblue;
    color: brown;
    font-family: Arial;
    margin: 0px;
}
A {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: aqua;
    text-decoration: double;
}
a:visited {
    color: pink;
    text-decoration: dotted;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
